<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe">
		
	<sql id="cafeColumn">
		num,writer,title,content,viewCount,
		TO_CHAR(regdate,'YYYY.MM.DD AM HH:MI') AS regdate
	</sql>

	<insert id="insert" parameterType="cafeDto">
		INSERT INTO board_cafe
		(num, writer, title, content, viewCount, regdate, startRowNum, endRowNum, prevNum, nextNUM)
		VALUES(board_cafe_seq.NEXTVAL, #{writer}, #{title},
			#{content}, #{viewCount}, SYSDATE, #{startRowNum}, #{endRowNum}, #{prevNum}, #{nextNum})
	</insert>
	
	
	<select id="getCount" parameterType="cafeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_cafe
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
			<if test="content !=null">
				OR content LIKE '%'||#{content}||'%'
			</if>
		</where>
	</select>
	
	<select id="getList" parameterType="cafeDto"
		resultType="cafeDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM rnum
			  FROM ( SELECT <include refid="cafeColumn"/>
					FROM board_cafe
					<where>
						<if test="writer != null">
							OR writer LIKE '%'||#{writer}||'%'
						</if>
						<if test="title != null">
							OR title LIKE '%'||#{title}||'%'
						</if>
						<if test="content !=null">
							OR content LIKE '%'||#{content}||'%'
						</if>
					</where>
					ORDER BY num DESC ) result1
			  )
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="cafeDto" 
		resultType="cafeDto">
		SELECT result1.*
		FROM ( SELECT <include refid="cafeColumn"/>,
				LAG(num, 1, 0) OVER(ORDER BY num DESC) prevNum,
				LEAD(num, 1, 0) OVER(ORDER BY num DESC) nextNum
			 FROM board_cafe
			 <where>
				<if test="writer != null">
					OR writer LIKE '%'||#{writer}||'%'
				</if>
				<if test="title != null">
					OR title LIKE '%'||#{title}||'%'
				</if>
				<if test="content !=null">
					OR content LIKE '%'||#{content}||'%'
				</if>
			</where>
			 ORDER BY num DESC ) result1
		WHERE num=#{num}			
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_cafe
		WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="cafeDto">
		UPDATE board_cafe
		SET title=#{title},content=#{content}
		WHERE num=#{num}
	</update>
	
	<update id="addViewCount" parameterType="int">
		UPDATE board_cafe
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>

</mapper>